= simple_form_for @post_section, url: url do |f|
  = f.error_notification

  = f.input :header

  .form-group
    = f.label :images
    = f.file_field :images, multiple: 'multiple', class: 'form-control'

  = f.input :body, as: :text

  = f.button :submit, 'Submit', class: 'btn btn-primary mt-4 mb-4'
