<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h1 class="project-title"><%= @project.title %></h1>

      <p class="project-description"><%= @project.description %></p>

      <div class="row">
        <div class="col-12">
          <a href="<%= @project.site_link %>"
             target="_blank"
             class="site-link">Visit Website</a>

          <a href="<%= @project.repo_link %>"
             target="_blank"
             class="repo-link">View Repo</a>
        </div>
      </div>

      <div id="project_slider" data-project="<%= @project.id %>">
      <%= javascript_pack_tag 'project_slider' %>

      <div class="project-section">
        <h2 class="project-heading">About This Project</h2>
        <hr class="project-hr">

        <% @project.summary.each do |text| %>
          <p class="project-description"><%= text %></p>
        <% end %>
      </div>

      <div class="project-section">
        <h2 class="project-heading">Technologies</h2>
        <hr class="project-hr">

        <ul class="project-tech-stack">
          <% @project.tech_stack.each do |tech| %>
            <li><%= tech %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
