= simple_form_for @lab, url: url do |f|
  = f.error_notification

  = f.input :title

  = f.input :slug

  = f.input :cover, as: :file

  = f.input :description, as: :text

  = f.input :tech_stack, label: 'Technology Stack', collection: Project::TECH_OPTIONS

  = f.button :submit, 'Submit', class: 'btn btn-primary mt-4 mb-4'
