= simple_form_for @contact, url: '/contact/send' do |f|
  = f.error_notification

  = f.input :name

  = f.input :email

  = f.input :message, as: :text, input_html: { rows: '8' }

  = f.button :submit, 'Submit', class: 'btn btn-outline-success mt-4 mb-4'
