<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/admin_navbar' %>

    <% if notice.present? %>
      <p class="row info"><%= notice %></p>
    <% elsif alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main>
      <%= yield :form_errors %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
