<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Web Developer Portfolio, Ruby and JavaScript Specialist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600" rel="stylesheet">
  </head>

  <body data-controller="<%= controller.controller_path %>"
        data-action="<%= controller.action_name %>">
    <%= render 'shared/navbar' %>

    <% if notice.present? %>
      <p class="row info"><%= notice %></p>
    <% elsif alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main class="bg-dark">
      <%= yield :form_errors %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
